.structure-title {
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.structure-container {
  border: 1px solid var(--main-text-color);
  border-radius: 20px;
  color: var(--main-text-color);
  width: 80%;
  height: 10em;
  background: var(--card-bg-color);
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 2em;
}

.structure-container:first-child{
  margin-top: 2em;
}

.structure-container .imgStructure {
  border: 1px solid var(--main-items-color);
  width: 12em;
  background: var(--main-items-color);
  margin-left: 2em;

}

.structure-container p {
  padding: 0.2em;
}
.structure-infos {
  display: flex;
  flex-direction: column;
  width: 50em;
  padding-left: 1em;
}

@media screen and (max-width: 525px) {
  .structure-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: auto;
    height: auto;
  }

  .structure-container .imgStructure{
    margin: auto;
    margin-top: 1em;
  }

  .structure-infos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 15em; 
  }
}